.DesktopHeader {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.DesktopHeader__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 0.5em 1em;
}

.top__left {
  display: flex;
  align-items: center;
}

.leftTop__text {
  margin-left: 0.5em;
  font-weight: 500;
}

.top__right {
  display: flex;
  align-items: center;
}

.topRight__icon {
  margin-right: 0.5em;
}

.topRight__text {
  font-weight: 500;
}

.DesktopHeader__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.bottom__left {
  display: flex;
  align-items: center;
}

.leftBottom__brandName {
  font-size: 1.5rem;
}

.left__clothCategories {
  display: flex;
  margin-left: 1.5em;
  align-items: center;
}

.leftBottom__category {
  font-weight: 500;
  cursor: pointer;
}

.category-jean,
.category-sneaker {
  margin-left: 1em;
}

.category-jean:hover,
.category-sneaker:hover,
.category-hoodie:hover {
  border-bottom: 1px solid black;
}

.bottom__right {
  display: flex;
  align-items: center;
}

.right__searchIcon {
  margin-right: 1em;
  border-right: 1px solid lightgray;
}

.search-icon {
  margin-right: 1em;
}

.person-icon,
.favourite-icon {
  margin-right: 0.5em;
}

.right__icons {
  cursor: pointer;
}

.right__icons:hover {
  color: lightgray;
}

.favourite-icon {
  position: relative;
}

.notification-icon {
  width: 20% !important;
  float: left;
  color: red;
}

.Home__menuItem,
.Auth__statusItem,
.UserRole__status,
.wishlist,
.clothingCategories,
.menuCart {
  display: flex;
  align-items: center;
  margin-top: 2em;
  cursor: pointer;
  padding: 0.5em 1em;
}

.Home__menuItem:hover,
.Auth__statusItem:hover,
.UserRole__status:hover {
  background-color: #0a79df;
  border-radius: 999px;
}

.SearchField {
  width: 100%;
  border-radius: 999px;
}

.ClosingButton {
  float: right;
  cursor: pointer;
}

.Menu__text {
  margin-left: 0.8em;
}

.sideBar-menuText {
  color: white;
}

.DashBoardMenu__home,
.DashBoardMenu__orders,
.DashBoardMenu__inventory,
.Hoodies,
.Sneakers,
.Jeans {
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  cursor: pointer;
}

.cart,
.wishlist,
.clothingCategories {
  display: none;
}

.DashBoardMenu__home:hover,
.DashBoardMenu__orders:hover,
.DashBoardMenu__inventory:hover {
  background-color: #0a79df;
  border-radius: 999px;
}

.DashBoardMenu__text {
  margin-left: 0.8em;
}

.menuBar {
  display: none !important;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .DesktopHeader__top {
    display: none;
  }
  .left__clothCategories {
    display: none;
  }
  .right__icons {
    display: none !important;
  }

  .menuBar {
    display: block !important;
    cursor: pointer;
  }
  .cart,
  .wishlist,
  .clothingCategories {
    display: flex;
  }

  .leftBottom__brandName {
    font-size: 1.2rem;
  }
}
