.NewProductsForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  padding: 2.5em 5em;
}

.Form__header {
  margin-bottom: 1.5em;
}

.Form__fields {
  margin-bottom: 2em;
}

.form-btn {
  width: 50%;
  border-radius: 999px;
  padding: 0.5em 1.5em;
}

.form-btn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.4s;
}

.form-notification {
  right: 0%;
}

@media screen and (min-width: 320px) and (max-width: 817px) {
  .NewProductsForm {
    width: fit-content;
  }
  .form-btn {
    padding: 0.3em 1.5em;
  }
}
